.box{
  width: 70%;
  height: auto;
  background-color: rgb(65, 65, 65);
  border-radius: 3rem;
  padding: 2rem;
  margin:7rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.quote{
  font-size: 2rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.author{
  font-size: 1.5rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  align-self: flex-end;
  
}

.button {
  align-self: center;
  border:none;
  background-color: rgb(204, 200, 196);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  font-size: 1.5rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button:hover{
  cursor: pointer;
}

.button:active{
  transform: scale(0.90);
  background-color:rgb(168, 164, 159);
}
